<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>gartnerei.ch</title>
	<atom:link href="http://www.gartnerei.ch/feed/" rel="self" type="application/rss+xml" />
	<link>http://www.gartnerei.ch</link>
	<description></description>
	<lastBuildDate>Tue, 01 Mar 2016 09:00:03 +0000</lastBuildDate>
	<language>en-US</language>
		<sy:updatePeriod>hourly</sy:updatePeriod>
		<sy:updateFrequency>1</sy:updateFrequency>
	
	<item>
		<title>Salads</title>
		<link>http://www.gartnerei.ch/salads/?utm_source=rss&#038;utm_medium=rss&#038;utm_campaign=salads</link>
		<comments>http://www.gartnerei.ch/salads/#comments</comments>
		<pubDate>Sun, 20 Jul 2014 14:34:13 +0000</pubDate>
		<dc:creator><![CDATA[admin]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>

		<guid isPermaLink="false">http://www.gartnerei.ch/?p=296</guid>
		<description><![CDATA[]]></description>
				<content:encoded><![CDATA[]]></content:encoded>
			<wfw:commentRss>http://www.gartnerei.ch/salads/feed/</wfw:commentRss>
		<slash:comments>7243</slash:comments>
		</item>
	</channel>
</rss>
