
@font-face {
  font-family: 'HandwriterOT';
  src: url('HandwriterOT.eot@') format('embedded-opentype'),  url('HandwriterOT.otf')  format('opentype'),
	     url('HandwriterOT.woff') format('woff'), url('HandwriterOT.ttf')  format('truetype'), url('HandwriterOT.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
